.computer-overview-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .computer-overview-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .computer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .computer-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .item-field {
    margin: 10px 0;
  }
  
  .field-label {
    font-weight: bold;
  }